<h1>New Gallery</h1>

<%= render 'form', gallery: @gallery %>

<<<<<<< HEAD
<%= link_to 'Back', galleries_path,class:"btn btn-info" %>
=======
<%= link_to 'Back', galleries_path %>
>>>>>>> 024dfc7ea8ec0bf7deaa8302e70e1533b5fe5edc
