// Place all the styles related to the photographers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main{
    background: rgb(229, 247, 187);
    margin: auto;
    width:35%;
    padding: 12px;
}

.hr{
    background: whitesmoke;
    border: 5px solid rgb(116, 166, 212);
}